.single_stat__container {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 12px;

  .single_stat {
    text-align: center;
  }

  .single_stat__number {
    font-size: 60px;
    font-weight: 300;
    padding-bottom: 7px;
  }

  .single_stat__title {
    padding-bottom: 15px;
  }

  .single_stat__text {
    font-weight: 300;
  }
}

