@import "../App/colors";

.stats_section {
  height: 250px;
  background: $background-stats;
  display: flex;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
  }
}