@mixin buttons {
  border: 1px solid black;
  background: none;
  font-size: 28px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

.logo_section_buttons {
  @include buttons;
  padding-left: 30px;
  padding-right: 30px;
  width: 250px;
  height: 100px;
  margin-top: 80px;
}

.register_button {
  @include buttons;
  width: 240px;
  height: 75px;
  margin-top: 30px;
  position: relative;
  left: 50%;
  margin-left: -120px;
  margin-bottom: 40px;
}