.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 175px;
  margin-top: 26px;

  .menu__element {
    list-style: none;
    padding-left: 40px;
    font-size: 12px;
    z-index: 1;
  }

  .menu__element--square {
    width: 64px;
    height: 33px;
    border: 1px solid black;
    position: relative;
    left: 85px;
    bottom: 7px;
  }
}